*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
}
/* header part start */
.header-section{
    background-image: url(../images/banner/banner3.png);
    background-size: cover;
    padding: 215px 200px 160px;
}
.header-content{
    width: 525px;
    margin-left: auto;
    text-align: right;
}
.header-content h1{
    font-size: 65px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.header-content p{
    color: #FFFFFF;
    margin-bottom: 42px;
}
.header-content a{
    font-size: 20px;
    font-weight: 600;
    color: #005FAC;
    background-color: #FFFFFF;
    padding: 16px 25px;
    border-radius: 5px;
}
/* header part end */
main{
    padding: 0px 200px
}
/* failure part start */
.failure-section{
    padding: 130px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.failure-img{

}
.failure-content{
margin-left: 80px;
}
.failure-content h2{
font-size: 40px;
font-weight: 700;
}
.failure-description p{
    margin: 24px 0px 16px;
    color: #444343;
}
.failure-item p{
    color: #444343;
    margin-bottom: 8px;
}
.failure-item i{
    color: #16D887;
    margin-right: 6px;
}
/* failure part end */